  <h1>Vamos a generar tu Post!</h1>


  <form action="/post" method='post'> 
    <p>Dame el titulo de tu post:</p>
    <br>
    <input type="text" name="title" >
    <p>Dame el contenido de tu post:</p>
    <br>
    <textarea name="body_text" cols="40" rows="5"></textarea>
    <br>
    <br>
    <label for="post_tags">Tags:</label>
    <br>
    <br>
    <input id="post_tags" name="tags">
    <br>
    <br>
    <input type="submit" name="postear" value="Postea">
  </form>